/* body {
} */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
}

.centered-table {
  display: table;
  width: 100%;
  height: 100%;
  /* background-color: #00000061; */
}

/* . {
  color: white;
} */

.learn-more{
  color:black;
  background-color: white;
  border-radius: 0;
  /* letter-spacing: .2em; */
  font-size: 13px;
  /* font-family: FuturaStd-Heavy; */
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px;
  /* color: #fff; */
  border: 2px solid #fff;
  margin: 20px;
  text-shadow: none;
}

.action {
  background: transparent;
  border-radius: 0;
  /* letter-spacing: .2em; */
  font-size: 13px;
  /* font-family: FuturaStd-Heavy; */
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  margin: 20px;
  text-shadow: none;
}

.action:hover{
  color: #333;
  background-color: #e6e6e6;
}

.content-table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.overlay {
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.39); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
/* header { 
  background: url("../img/bg-masthead.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.banner-home {
  background-image: url("../img/building4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 650px;
  margin-top: -70px;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1.0s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.home-logo {
  width:50%;
}

.circle-icon {
  background: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
}

.navbar-brand {
  /* font-size: 2.25rem; */
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); */
  /* text-decoration: underline; */
}

.nav-link {
  font-weight: 500;
}

#map { 
 width: 80%;
 height: 45vh;
}

#projectMap_length {
  display: none;
}
#projectMap_info {
  display: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

div.dataTables_wrapper div.dataTables_filter {
  display: none;
}

.marker {
  background-image: url('../img/marker-blue.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: none;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: none;
}

.siteName {
  font-size:4vw;
}

.footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer-logo {
  height: 23px;
  margin-bottom: 5px;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }

  .home-logo {
    width:25%;
  }

  
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.navbar {
  background-color: #f8f9fa00;
  
}

.navbar-light .navbar-brand {

  color:white;
}

.navbar-light .navbar-nav .nav-link {
  color:white;
}

.scrolled .navbar-brand {

  color: rgba(0,0,0,.9) !important;
  ;
}

.scrolled .navbar-nav .nav-link {
  color: rgba(0,0,0,.9) !important;
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  color: rgba(0,0,0,.9) !important;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }

  /* .home-logo {
    width:30%;
  } */

  .banner-home {
    /* background-image: url("../img/building4.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 650px;
    /* margin-top: -65px; */
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.people {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.people .people-item {
  max-width: 18rem;
}

.people .people-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
  filter: grayscale(100%);
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}


/* footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
} */
