<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
     <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	 <link href="styles.css" rel="stylesheet">
</head>
<body ng-controller="MyCtrl">
	<!-- Begin page content -->
    <div class="container">
    	 <div class="row row-centered">
	      <div>
			
			<div class="col-xs-3 col-centered"> </div>

			<div class="col-xs-6 col-centered">
			<div>
					<img border="0" src="1.png" style="float:left" class="img-responsive"  alt="Smiley Face">
					<img border="0" src="logo.png" class="img-responsive"  alt="Logo" width="304" height="228">
					

					<hr> 
			</div>


	      		<hr> 

	      		<br> <br> <br>
	      		
				<div id="words" ng-hide="showButton()" >	
		      	   <h2> Please provide the following words :</h2>
		      	   <form name="loginform" novalidate ng-submit="login.submit(loginForm)" class="css-form">
		      	    <div class="form-inline">
			      	   <input type="text" class="form-control" placeholder="Male name" ng-model="user.maleName" required>
			      	   <input type="text" class="form-control" placeholder="Dirty task" ng-model="user.dirtyTask" required>
			      	   <input type="text" class="form-control" placeholder="Obnoxiuous celebrity" ng-model="user.obnoxiuousCelebrity" required>
		      	   	</div>

		      	   	<div class="form-inline">
			      	   <input type="text" class="form-control" placeholder="Job title" ng-model="user.jobTitle" required>
			      	   <input type="text" class="form-control" placeholder="Celebrity" ng-model="user.celebrity" required>
			      	   <input type="number" class="form-control" placeholder="Huge number" ng-model="user.hugeNumber" min="10" required>
			      	    <span ng-show="form.user.hugeNumber.$error.integer">This is not valid integer!</span>
    					<span ng-show="form.user.hugeNumber.$error.min || form.user.hugeNumber.$error.max">
		      	   	</div>

		      	   	<div class="form-inline">
			      	   <input type="text" class="form-control" placeholder="Tedious Task" ng-model="user.tediousTask" required>
			      	   <input type="text" class="form-control" placeholder="Useless skill" ng-model="user.uselessSkill" required>
			      	   <input type="text" class="form-control" placeholder="Adjective" ng-model="user.adjective" required>
		      	   	</div>
						  <br> <br>
		      	   		  <input class="btn btn-default pull-right" type="submit" value="Generate Madlib">
		      	   </form>
					<br> <br>
		      	   

		      	    <hr>
					
    			</div>




    
	      <div id="madLibsBody" ng-show="showButton()" >
	      		<br> <br>
		      	<p class="lead">{{ user.maleName }} was a {{user.jobTitle}} who loved technology. <br>
		    		Although he loved parts of his job, he absolutely hate <br>
		    		{{user.tediousTask}} and {{user.dirtyTask}}. So, {{user.maleName}} <br>
		    		met with his life mentor {{user.celebrity}} who told him to <br>
		    		learn how to {{user.uselessSkill}} with Thinkful. Thinkful <br>
		    		didn't offer a course on {{user.uselessSkill}} so he studied <br>
		    		programming instead. <br> <br>
		    		What a great decision! With his new skills, {{user.maleName}} <br>
		    		built a(n) {{user.adjective}} robot named {{user.obnoxiuousCelebrity}} <br>
		    		that not only loved {{user.dirtyTask}} but did it {{user.hugeNumber}} faster. <br> <br>
		    		<button  ng-click="off(); reset();" type="button" class="btn btn-default pull-right" >Start Over</button> 	
		    	</p>
		       	
				
	      </div>
	      
		</div>
		<div class="col-xs-3 col-centered"> </div>
		</div>
    </div>
	</div>
    <div id="footer">
      <div class="container" align="center">
     	<a href="http://www.thinkful.com/courses/ANG-001/unit/1/lesson/3/assignment/6">  Thinkful - Unit 1 - Lesson 3 - Assignment 6 </a>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
   
   </body>



  

</body>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="madlibs.js"></script>
</html>