<!doctype html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
     <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	 <link href="styles.css" rel="stylesheet">
</head>
<body>
	<!-- Begin page content -->
    <div class="container" align="center">
    	 <div class="row">
	      <div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center ">
					<img border="0" src="1.png" style="float:left" class="img-responsive"  alt="Smiley Face">
					<img border="0" src="logo.png" class="img-responsive"  alt="Logo" width="304" height="228">
					

					<hr> 
			</div>
	      		<hr> 
	      	   <h2> Please provide the following words :</h2>
	      	    <div class="form-inline">
		      	   <input type="text" class="form-control" placeholder="Male name" ng-model="maleName" >
		      	   <input type="text" class="form-control" placeholder="Dirty task" ng-model="dirtyTask">
		      	   <input type="text" class="form-control" placeholder="Obnoxiuous celebrity" ng-model="obnoxiuousCelebrity">
	      	   	</div>

	      	   	<div class="form-inline">
		      	   <input type="text" class="form-control" placeholder="Job title" ng-model="jobTitle">
		      	   <input type="text" class="form-control" placeholder="Celebrity" ng-model="celebrity">
		      	   <input type="number" class="form-control" placeholder="Huge number" ng-model="hugeNumber">
	      	   	</div>

	      	   	<div class="form-inline">
		      	   <input type="text" class="form-control" placeholder="Tedious Task" ng-model="tediousTask">
		      	   <input type="text" class="form-control" placeholder="Useless skill" ng-model="uselessSkill">
		      	   <input type="text" class="form-control" placeholder="Tedious task" ng-model="adjective">
	      	   	</div>

	      	    <hr>

    




    
	      </div>
	      <div id="madLibsBody">
		      	<p class="lead">{{ maleName }} was a {{jobTitle}} who loved technology. <br>
		    		Although he loved parts of his job, he absolutely hate <br>
		    		{{tediousTask}} and {{dirtyTask}}. So, {{maleName}} <br>
		    		met with his life mentor {{celebrity}} who told him to <br>
		    		learn how to {{uselessSkill}} with Thinkful. Thinkful <br>
		    		didn't offer a course on {{uselessSkill}} so he studied <br>
		    		programming instead. <br> <br>
		    		What a great decision! With his new skills, {{maleName}} <br>
		    		built a(n) {{adjective}} robot named {{obnoxiuousCelebrity}} <br>
		    		that not only loved {{dirtyTask}} but did it {{hugeNumber}} faster. <br>
		    		
		    	</p>
		       	 

	      </div>
	      


		</div>
    </div>

    <div id="footer">
      <div class="container" align="center">
     	<a href="http://www.thinkful.com/courses/ANG-001/unit/1/lesson/1/assignment/2">  Thinkful - Unit 1 - Lesson 2 - Assignment 7 </a>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
   
   </body>



  

</body>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="calculator.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</html>